asgiref==3.5.0
attrs==21.4.0
Django==4.0.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
gunicorn==20.1.0
html5lib==1.1
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.1.0
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
webencodings==0.5.1
